.dropdown {
  -webkit-transition: all 10s; /* Safari */
  transition: all 10s;
  position: absolute;
  top: 59px;
  left: 60px;
  display: none;
  transition-timing-function: linear;
}

.dropdown > li {
  background-color: #f8f9fa;
  transition-timing-function: linear;

  border: none;
  border-radius: 0 !important;
  width: 245px;
}

.show-dropdown {
  transition-timing-function: linear;
  display: block;
}

.hide-menu {
  display: none !important;
}

.menu {
  position: absolute;
  left: 0;
  top: 56px;
  height: 100vh;
  width: 100%;
  background-color: #f8f9fa;
  z-index: 999;
}

.display-inline {
  /* display: flex !important; */
}
